/*start pagination*/
.pagination {
  	display: inline-block;
  	float: right;
}
..pagination::after{
	clear: both;
}
.pagination a {
  	color: black;
  	float: left;
  	padding: 8px 16px;
 	 text-decoration: none;
}
@media screen and (max-width: 768px){
	.pagination a {
  	color: black;
  	float: left;
  	padding: 5px 10px;
  	text-decoration: none;
	}
}@media screen and (max-width: 256px){
	.none{
		display: none;
	}
}
.pagination a.active {
  	background-color: #84012a;
  	color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*end pagination*/
/*start header*/
@media screen and (max-width: 1024px){
	.header-brand img{
		width: 70px;
		height: 70px;
	}
	.header-brand p{	
		font-size: 18px;
		line-height: 20px;
		padding-top: 15px;
	}
	.header-brand p span{font-size: 16px;}
	.header-search input,.header-search button{font-size: 14px;}
	.header-language a img{
		width: 25px;
		height: 25px;
		margin-top: 28px;
	}
}
@media screen and (max-width: 880px){
	.header-brand{width: 42%;}
	.header-brand img{
		width: 60px;
		height: 60px;
	}
	.header-brand p{	
		font-size: 14px;
		line-height: 18px;
		padding-top: 15px;
		padding-left: 10px;
	}
	.header-brand p span{font-size: 12px;}
	.header-search{
		width: 38%;
		padding-top: 24px;
	}
	.header-search input,.header-search button{font-size: 12px;}
	.header-language a img{margin-top: 20px;}
}
@media screen and (max-width: 768px){
	.top-header{padding: 5px;}
	.header-brand{width: 50%;}
	.header-brand p{font-size: 12px;}
	.header-search{
		width: 40%;
		padding-top: 8px;
		float: right;
	}
	.header-search input,.header-search button{font-size: 10px;}
	.header-language{display:none;}
	.language-hidden{display: block;}
	.language-hidden a img{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	}
}
@media screen and (max-width: 556px){
	.header-brand p{padding-left: 0px;
		padding-top: 5px;}
}
@media screen and (max-width: 768px){
	.header-search input,.header-search button{font-size:8;}
}
/*end header*/
/*start navbar*/
@media screen and (max-width: 768px){
	.menu-item{ 
	margin-right: -5px;
	line-height: 25px;
	padding: 0 5px;
	}
}
@media screen and (max-width: 480px){
	.menu-item{ 
	margin-right: -5px;
	line-height: 20px;
	padding: 0 5px;
	}
	.menu-item a{
	font-size: 12px;
	}
}
/*end navbar*/
/*start slide-notification*/
@media screen and (max-width: 1024px){
	.slide-content{
	width: 100%;
	margin-bottom: 40px;
	}
	.notification-content{
	width: 100%;
	margin-left: 0px;
	}
}
/*end slide-notification*/
/*start news*/
@media screen and (max-width: 768px){
	.news-left{
	width: 60%;
	}
	.news-right{
	width: 40%;
	}
	.news-right-item img{
	width: 100%;
	height: 120px;	
	padding-bottom: 5px;
	}
	.news-right-item img:hover{
	height: 121px;
	padding-bottom: 4px;	
	}
	.news-right-item p{
	width: 100%;
	float: right;
	padding-bottom: 10px;
	}
}
/*end news*/
/*start event*/
@media screen and (max-width: 768px){
	.event-item{
	width: 45%;
	}
	.event-item-mid{
	margin-left: 0;
	margin-right: 0;
    }
    .colum-left{
    	margin-right: 5%;
    }
    .colum-right{
    	margin-left: 5%;
    }
    .colum-right::after{
    	float: left;
    }
    .ok::after{
		clear: both;
    }
}
@media screen and (max-width: 604px){
	.event-item{
	width: 100%;
	}
	.event-item-mid{
	margin-left: 0;
	margin-right: 0;
    }
    .colum-left{
    	margin-right: 0;
    }
    .colum-right{
    	margin-left: 0;
    }
}
/*end event*/
/*start reseach-cooperate*/
@media screen and (max-width: 480px){
	.reseach-item, .cooperate-item{
	width: 100%;
	}
}
/*end reseach-cooperate*/
/*start footer*/
@media screen and (max-width: 780px){
	.footer-item img{
	width: 35%;
	}
	.footer-item p{
		font-size: 13px;
	}
	.footer-item h1{
		font-size: 18px;
	}
	.footer-item i{
		font-size: 15px;
	}
	.footer-item span{
		font-size: 13px;
	}
}
/*end footer*/
/*start admissions-detail*/
@media screen and (max-width: 780px){
	.admissions-detail-item{
	width: 45%;
	}
	.admissions-detail-item img{
	width: 100%;
	padding-bottom: 10px;
	}
}
@media screen and (max-width: 480px){
	.admissions-detail-item{
	width: 100%;
	}
}
/*end admissions-detail*/